.headerInicio {
    width: 100%;
    height: 500px;

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://w0.peakpx.com/wallpaper/152/634/HD-wallpaper-minimal-line-pattern-black-design-future-grey-minimal-modern-pattern-plain-tech.jpg);
    background-size: 1 0%;
    background-position: center;
   
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 40px;
    @media (max-width: 575.98px) {
        height: 300px;
    }
    .titulo {
        color: #fff;
        font-size: 6.5rem;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 1;
        @media (max-width: 991.98px) {
            font-size: 6rem;
        }
        @media (max-width: 600px) {
            font-size: 3.5rem;
        }
    }
    .desc {
        margin-top: 1rem;
        font-size: 1.5rem;
        letter-spacing: 7.5px;
        text-transform: uppercase;
        color: #21c0b0;
        @media (max-width: 600px) {
            margin-top: 1rem;
            font-size: 1rem;
        }
    }
}

.headerSec_1 {
    width: 100%;
    height: 500px;

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://media4.giphy.com/media/l3fQue6kGydX1azMQ/giphy.gif?cid=790b761…&rid=giphy.gif&ct=g);
    background-size: 1 0%;
    background-position: center;
   
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 40px;

    @media (max-width: 575.98px) {
        height: 300px;
    }
    .titulo {
        color: #fff;
        font-size: 6.5rem;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 1;
        @media (max-width: 991.98px) {
            font-size: 6rem;
        }
        @media (max-width: 600px) {
            font-size: 3.5rem;
        }
    }
    .desc {
        margin-top: 1rem;
        font-size: 1.5rem;
        letter-spacing: 7.5px;
        text-transform: uppercase;
        color: #21c0b0;
        @media (max-width: 600px) {
            margin-top: 1rem;
            font-size: 1rem;
        }
    }
}

pre {
    background: #272822;
}

#htmlViewer span, .highlightSyntax, pre.hljs, span.hljs-name, span.xml, span.hljs-keyword, span.hljs-attr, span.hljs-attribute, span.actionscript,  span.hljs-meta, span.hljs-selector-tag, span.hljs-comment, span.hljs-keyword, span.hljs-class, span.hljs-symbol, span.hljs-string, span.hljs-built_in, span.token, span.token.tag, span.token.attr-name, span.hljs-title, span.javascript, span.token.attr-value, span.token.punctuation {
    font-family: 'Consolas', 'Monaco','Andale Mono','Ubuntu Mono',monospace !important;
    font-size: 1rem!important;
    white-space: pre-wrap;
    font-weight: 500;
    background: #272822;
    width: 100%;
    
}


:not(pre)>code[class*=language-], pre[class*=language-], pre[class*=language-], pre[class*=language-], pre.markup-language, code.markup-language {
    display: none !important;
} 
.make-snippet#notShow {
    border: 1px solid rgb(182, 182, 182);
    border-radius: 5px;
    padding: 12px 15px 20px;
    height: auto;
    margin-bottom: 1rem;
}


.cBox {
    height: 200px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.cBoxLined {
    height: 200px;
    border-radius: 5px;
    border: 1px dotted rgb(169, 169, 169);
    margin-bottom: 10px;
}

.col-lg-2.position-fixed.px-0.navbarColumn {
    @media (min-width: 991.98px) {
      height: 100% !important;
    }
}

b {
    letter-spacing: 0.03em;
}