.banner-img {
  border-radius: 5px 0 0 5px;
}

blockquote {
  background-color: $color-grisClaro;
  padding: 1rem;
}

.quejas-proc-list {
  list-style-type: lower-latin;
}

@media (max-width: 991.98px) {
  .banner-img {
    border-radius: 5px 5px 0 0;
  }
}
