.etiqueta0{
    color: $color-base;
    background: lighten($color-base, 80%);
    padding:5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    display: table;
    margin: 0 auto;
    align-self: center;
}
.etiqueta1{
    color: $color-1;
    background: lighten($color-1, 60%);
    padding:5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    display: table;
    margin: 0 auto;
    align-self: center;
}
.etiqueta2{
    color: $color-2;
    background: lighten($color-2, 35%);
    padding:5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    display: table;
    margin: 0 auto;
    align-self: center;
}
.etiqueta3{
    color: $color-3;
    background: lighten($color-3, 40%);
    padding:5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    display: table;
    margin: 0 auto;
    align-self: center;
}
.etiqueta4{
    color: $color-4;
    background: lighten($color-4, 45%);
    padding:5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    display: table;
    margin: 0 auto;
    align-self: center;
}
.etiqueta5{
    color: $color-5;
    background: lighten($color-5, 50%);
    padding:5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    display: table;
    margin: 0 auto;
    align-self: center;
}
.etiqueta6{
    color: $color-6;
    background: lighten($color-6, 35%);
    padding:5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    display: table;
    margin: 0 auto;
    align-self: center;
}