nav.navDependencia {
  position: relative;

  // &::before{
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   background: linear-gradient(90deg, rgba(255,255,255,0) 40%,rgba(255,255,255,1)80%);
  //   width: 100%;
  //   height: 80px;
  //   top: 20px;
  //   pointer-events:none
  // }
  // &::after{
  //   content: "";
  //   border-style: solid;
  //   border-width: 0.25em 0.25em 0 0;
  //   border-color: $color-base;
  //   width: 16px;
  //   height: 16px;
  //   position: absolute;
  //   right: 20px;
  //   top: 50px;
  //   transform: rotate(45deg);
  // }
}

.routerWrapper {
  width: 100%;
  height: 62px;
  margin-top: 24px;
  margin-bottom: 16px;
  overflow: hidden;
  overflow-x: auto;
  display: flex;
  white-space: nowrap;

  &::-webkit-scrollbar {
    height: 5px;
    width: 100%;

  }

  &::-webkit-scrollbar-track {
    background: $color-grisClaro;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: $color-1;
  }

  .subtitulo {
    font-size: 1.1rem;
    text-transform: uppercase;
    color: $color-base;
    margin: 0;
    margin-top: 10px;
    border-bottom: 1px solid;
  }

  .dropdown {
    position: initial;
    align-self: center;

    .dropdown-menu {
      padding: 10px;
      position: absolute;
      z-index: 1000;

      a {
        margin: 0;
      }
    }
  }

  a,
  button {
    font-family: $fuente-principal;
    font-weight: 800;
    font-size: 0.875rem;
    text-decoration: none !important;
    text-transform: uppercase;
    color: $color-base;
    padding: 10px;
    padding-right: 10px;
    padding-left: 10px;
    display: inline-table;
    transition: all ease 0.3s;
    margin: 0 0.8rem;
    align-self: center;

    &:hover {
      color: inherit;
      background-color: lighten($color-base, 55%);
      border-radius: $standard-radius;
    }
  }

  button {
    background: transparent;
    border: 0;
    border-width: 2px;
    outline: none;
  }

  .router-link-exact-active {
    background-color: $color-base;
    color: $color-blanco;
    padding: 10px;
    border-radius: $standard-radius;

    &:hover {
      color: $color-blanco;
      background-color: lighten($color-base, 5%);
    }
  }


  @media (max-width: 1000px) {
    overflow-x: scroll;
    padding: 20px;
    height: 100px;
  }


}

/*Dropdown*/
.v-dropdown-menu {
  position: unset !important;

  $this: &;

  &.custom-style & {
    &__container {
      border: 0;
      border-radius: 5px;
      box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);

      #{$this} {
        &__header {
          display: flex;
          justify-content: center;
          padding: 5px;
          background-color: #eee;
        }

        &__body {
          ul {
            margin: 0;
            padding: 0;

            li {
              list-style: none;

              a {
                display: flex;
                padding: 1rem;
                color: #666;
                font-size: 16px;
                text-decoration: none;

                &:hover {
                  background-color: #f2f2f2;
                }
              }
            }
          }
        }

        &__footer {
          display: flex;
          justify-content: center;
          padding: 5px;
          color: $color-blanco;
          background-color: #012353;
        }
      }
    }
  }

  &.custom-style {

    // Custom Transition - Zoom Effect
    .zoom-enter-active {
      transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .zoom-enter,
    .zoom-leave-to {
      transform: translateY(50px) scale(0.5);
      transform-origin: center top;
      opacity: 0;
    }

    &#{$this}--mode-hover {

      .zoom-enter,
      .zoom-leave-to {
        transition-delay: 0.4s;
      }
    }
  }
}

.v-dropdown-menu--direction-left .v-dropdown-menu__container {
  left: unset !important;
}

.v-dropdown-menu__container {
  top: auto !important;
}

.v-dropdown-menu {
  a {
    display: table;
  }
}